<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds" debug="false">
    <contextName>im-server-ws</contextName>
    <!-- log_root_dir order: CATALINA_BASE -> CATALINA_HOME -> ..(parent dir) -->
    <!-- <property name="MANAGER_LOG_ROOT_DIR" value="${CATALINA_BASE:-${CATALINA_HOME:-..}}" /> -->
    <!--<property name="LOG_ROOT_DIR" value=".."/>
    <property name="CUR_PROJECT" value="zom-manager"/>-->
    <springProfile name="dev">
        <property name="LOG_PATH" value="../logs-all/tech-action/im-ws/im-server-ws"/>
    </springProfile>
    <springProfile name="prod">
        <property name="LOG_PATH" value="../logs-all/tech-action/im-ws/im-server-ws"/>
    </springProfile>

    <!-- <withJansi>true</withJansi> %date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %caller{1..2} %highlight(%-5level) %magenta(%logger) - %cyan(%msg)%n -->

    <!-- 其他配置省略 -->
    <appender name="appender_console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %highlight(%-5level): %cyan(%msg) &lt;&lt;&lt; [%thread] %replace(%caller{1..2}){'\s*Caller\+1\s*', ''}
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
            <!--<onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>-->
        </filter>
    </appender>

    <appender name="appender_rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %highlight(%-5level): %cyan(%msg) &lt;&lt;&lt; [%thread] %replace(%caller{1..2}){'\s*Caller\+1\s*', ''}
            </pattern>
        </encoder>
    </appender>

    <appender name="appender_err_rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}.err.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.err.log.gz</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %highlight(%-5level): %cyan(%msg) &lt;&lt;&lt; [%thread] %replace(%caller{1..2}){'\s*Caller\+1\s*', ''}
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
            <!--<onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>-->
        </filter>
    </appender>

    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.quartz" level="WARN"/>
    <!--<logger name="com.mysql" level="DEBUG"/>
    <logger name="org.apache.ibatis" level="DEBUG"/>-->

    <!-- airson project default level -->
    <logger name="cc.airson" additivity="false" level="DEBUG">
        <appender-ref ref="appender_console"/>
        <appender-ref ref="appender_rollingFile"/>
        <appender-ref ref="appender_err_rollingFile"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="appender_console"/>
        <appender-ref ref="appender_rollingFile"/>
    </root>

</configuration>